#notify {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: auto;
    min-width: 200px;
    max-width: 100vw;
    .toast {
        margin-top: 5px;
        margin-right: 5px;
        animation: animateright 0.4s;
    }
}
