<template>
    <div>
        <b-container fluid>
            <b-row>
                <b-col sm="12">
                    <iq-card v-if="data">
                        <template v-slot:headerTitle>
                            <h4 class="card-title" v-if="mode === 'edit'">Cập nhật tài khoản: {{ data.name }} - {{ data.email }}</h4>
                            <h4 class="card-title" v-else>Thêm mới</h4>
                        </template>
                        <template v-slot:headerAction>
                            <a class="text-primary float-right" v-b-toggle.collapse-1 role="button">
                                <i class="ri-code-s-slash-line" />
                            </a>
                        </template>
                        <template v-slot:body>
                            <b-form @submit="handleSubmit">
                                <b-form-group label="Tên" label-for="name">
                                    <b-form-input id="name" type="text" v-model="data.name"></b-form-input>
                                </b-form-group>
                                <b-form-group label="Email" label-for="email">
                                    <b-form-input id="email" type="text" v-model="data.email"></b-form-input>
                                </b-form-group>
                                <b-form-group label="Điện thoại" label-for="phone">
                                    <b-form-input id="phone" type="text" v-model="data.phone"></b-form-input>
                                </b-form-group>
                                <b-form-group label="Vai trò" label-for="role">
                                    <b-form-select v-model="roles"
                                                   :options="adminRoles"
                                                   multiple
                                                   :select-size="5"></b-form-select>
                                </b-form-group>
                                <b-button
                                    type="submit"
                                    variant="primary">Lưu</b-button>
                                <b-button
                                    @click="backToAdmin"
                                    variant="none"
                                    class="iq-bg-danger ml-3">Hủy</b-button>
                            </b-form>
                        </template>
                    </iq-card>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>
<script>
import {xray} from "../../config/pluginInit";

export default  {
    data() {
        return {
            data: {},
            adminRoles: [],
            roles: [],
            mode: '',
        }
    },
    mounted () {
        this.init();
    },
    methods: {
        init() {
            this.composer();
            if(this.$route.params.id) {
                this.initEdit();
                this.mode = 'edit';
            } else {
                this.mode = 'create';
                this.composer();
            }
        },
        async initEdit() {
            xray.showLoader();
            try {
                const params = {
                    id: this.$route.params.id
                };
                const query = this.Helper.buildQueryFromObject(params);
                const response = await this.Request.get(this.route('admin.admins_index') + query);

                if(!this._.isEmpty(response.data.data[0])) {
                    this.data = response.data.data[0];
                    this.syncRoles();
                } else {
                    this.$bvToast.toast( this.$t('message.unknown_error'), {
                        title: this.$t('dashboard.error'),
                        autoHideDelay: 3000,
                        toastClass: 'bg-danger',
                        bodyClass: 'bg-danger',
                    });
                    await this.$router.push('/admins');
                }

            } catch (e) {
                const errorMessages = this.Request.errors(e.response);
                const message = this._.isEmpty(errorMessages) ? this.$t('message.unknown_error') : errorMessages[0];
                this.$bvToast.toast(message, {
                    title: this.$t('dashboard.error'),
                    autoHideDelay: 3000,
                    toastClass: 'bg-danger',
                    bodyClass: 'bg-danger',
                });
            }
            xray.hideLoader();
        },
        async composer() {
            try {
                const response = await this.Request.get(this.route('admin.ajax_load_admin_composer'));
                this.adminRoles = response.data.adminRoles;
            } catch (e) {
                console.log(e); // eslint-disable-line
            }
        },
        async handleSubmit(evt) {
            evt.preventDefault();
            xray.showLoader();
            try {
                this.data.role_ids = this.roles;
                const uri = (this.mode === 'edit')
                    ? this.route('admin.ajax_update_admin', { admin: this.data.id})
                    : this.route('admin.ajax_create_admin');
                this.mode === 'edit'
                    ? await this.Request.patch(uri, this.data)
                    : await this.Request.post(uri, this.data);

                this.$bvToast.toast(this.$t('dashboard.success'), {
                    title: this.$t('dashboard.success'),
                    autoHideDelay: 3000,
                    toastClass: 'bg-primary',
                    bodyClass: 'bg-primary',
                });
                setTimeout(this.backToAdmin, 1000);
            } catch (e) {
                const errorMessages = this.Request.errors(e.response);
                const message = this._.isEmpty(errorMessages) ? this.$t('message.unknown_error') : errorMessages[0];
                this.$bvToast.toast(message, {
                    title: this.$t('dashboard.error'),
                    autoHideDelay: 3000,
                    toastClass: 'bg-danger',
                    bodyClass: 'bg-danger',
                });
            }
            xray.hideLoader();
        },
        syncRoles() {
            this.data.roles.forEach(role => {
                this.roles.push(role.id);
            })
        },
        backToAdmin() {
            this.$router.push('/admins');
        },
    }
}
</script>
