<template>
    <b-container fluid>
        <b-row>
            <b-col md="12">
                <iq-card>
                    <template v-slot:headerTitle>
                        <h4 class="card-title">Danh sách quản trị viên</h4>
                    </template>
                    <template v-slot:headerAction>
                        <b-button @click="handleCreate" variant="primary">Thêm mới</b-button>
                    </template>
                    <template v-slot:body>
                        <b-row>
                            <b-col md="12" class="table-responsive">
                                <b-table bordered hover :items="rows" :fields="columns" foot-clone>
                                    <template v-slot:cell(id)="data">
                                        <span>{{ data.item.id }}</span>
                                    </template>
                                    <template v-slot:cell(name)="data">
                                        <span>{{ data.item.name }}</span>
                                    </template>
                                    <template v-slot:cell(email)="data">
                                        <span>{{ data.item.email }}</span>
                                    </template>
                                    <template v-slot:cell(phone)="data">
                                        <span>{{ data.item.phone }}</span>
                                    </template>
                                    <template v-slot:cell(roles)="data">
                                        <p
                                            v-for="role in data.item.roles"
                                            :key="role.id"
                                            class="text-left"
                                        >
                                            {{ role.name }}
                                        </p>
                                    </template>
                                    <template v-slot:cell(created_at)="data">
                                        <span>{{ data.item.created_at }}</span>
                                    </template>
                                    <template v-slot:cell(action)="data">
                                        <b-button
                                            @click="handleEdit(data.item)"
                                            variant=" iq-bg-success mr-1 mb-1"
                                            size="sm">
                                            <i class="ri-ball-pen-fill m-0"></i>
                                        </b-button>
                                        <b-button
                                            @click="confirmDelete(data.item)"
                                            variant=" iq-bg-danger"
                                            size="sm">
                                            <i class="ri-delete-bin-line m-0"></i></b-button>
                                    </template>
                                </b-table>
                            </b-col>
                            <b-col md="12" class="text-center">
                                <b-pagination
                                    :value="data.current_page"
                                    :total-rows="data.total"
                                    :per-page="data.per_page"
                                    @change="handlePaginate"
                                    align="center"/>
                            </b-col>
                        </b-row>
                    </template>
                </iq-card>
            </b-col>
        </b-row>
    </b-container>
</template>
<script>
import { xray } from '../../config/pluginInit'
import { mapGetters } from 'vuex';

export default {
    mounted () {
        xray.index();
        this.handlePaginate(1);
    },
    computed: {
        ...mapGetters({
            user: 'User/getUser'
        })
    },
    methods: {
        async handlePaginate(page) {
            xray.showLoader();
            try {
                this.filter.page = page;
                const query = this.Helper.buildQueryFromObject(this.filter);
                const response = await this.Request.get(this.route('admin.admins_index') + query);
                this.data = response.data;
                this.rows = this.data.data;
            } catch (e) {
                const errorMessages = this.Request.errors(e.response);
                const message = this._.isEmpty(errorMessages) ? this.$t('message.unknown_error') : errorMessages[0];
                this.$bvToast.toast(message, {
                    title: this.$t('dashboard.error'),
                    autoHideDelay: 3000,
                    toastClass: 'bg-danger',
                    bodyClass: 'bg-danger',
                });
            }
            xray.hideLoader();
        },
        handleCreate() {
            this.$router.push('/admins/create');
        },
        handleEdit(payload) {
            this.$router.push('/admins/edit/' + payload.id);
        },
        confirmDelete(payload) {
            this.target = payload;
            this.$bvModal.msgBoxConfirm('Bạn chắc chắn muốn xóa?', {
                title: 'Xác nhận',
                size: 'sm',
                buttonSize: 'sm',
                okVariant: 'danger',
                okTitle: 'Xóa',
                cancelTitle: 'Hủy',
                footerClass: 'p-2',
                hideHeaderClose: false,
                centered: true
            }).then((value) => {
                if(value) this.handleDelete();
            });
        },
        async handleDelete() {
            xray.showLoader();
            try {
                const uri = this.route('admin.ajax_delete_admin', { admin: this.target.id });
                await this.Request.delete(uri);
                this.rows.splice(this._.findIndex(this.rows, this.target), 1);
                this.$bvToast.toast(this.$t('dashboard.deleted'), {
                    title: this.$t('dashboard.success'),
                    autoHideDelay: 3000,
                    toastClass: 'bg-primary',
                    bodyClass: 'bg-primary',
                });
            } catch (e) {
                console.log(e); // eslint-disable-line
                const errorMessages = this.Request.errors(e.response);
                const message = this._.isEmpty(errorMessages) ? this.$t('message.unknown_error') : errorMessages[0];
                this.$bvToast.toast(message, {
                    title: this.$t('dashboard.error'),
                    autoHideDelay: 3000,
                    toastClass: 'bg-danger',
                    bodyClass: 'bg-danger',
                });
            }
            xray.hideLoader();
        },

    },
    data () {
        return {
            filter: {
                search: '',
                per_page: 10,
                sort_type: '',
                page: 1,
            },
            data: {},
            rows:[],
            columns: [
                { label: 'ID', key: 'id', class: 'text-left' },
                { label: 'Tên', key: 'name', class: 'text-left' },
                { label: 'Email', key: 'email', class: 'text-left' },
                { label: 'Điện thoại', key: 'phone', class: 'text-left' },
                { label: 'Vai trò', key: 'roles', class: 'text-left' },
                { label: 'Ngày tham gia', key: 'created_at', class: 'text-left' },
                { label: 'Thao tác', key: 'action', class: 'text-center' }
            ],
            target: {},
        }
    }
}
</script>
