<template>
    <div>
        <div id="show-overlay"></div>
        <Loader />
        <div class="wrapper">
            <!-- Sidebar  -->
            <SideBarStyle1
                :items="verticalMenu"
                :horizontal="horizontal"
                :logo="logo"
                @toggle="sidebarMini" />
            <div id="content-page" class="content-page" :class="horizontal ? 'ml-0' : ''">
                <!-- TOP Nav Bar -->
                <NavBarStyle1
                    title="Dashboard"
                    :homeURL="{ name: 'dashboard.fb-follow' }"
                    @toggle="sidebarMini"
                    :logo="logo"
                    :horizontal="horizontal"
                    :side-bar-items="verticalMenu"
                    :items="horizontalMenu">
                    <template slot="responsiveRight">
                        <ul class="navbar-nav ml-auto navbar-list">
                            <li class="nav-item iq-full-screen">
                                <a href="#" class="iq-waves-effect" id="btnFullscreen"><i class="ri-fullscreen-line"></i></a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="search-toggle iq-waves-effect">
                                    <i class="ri-notification-3-fill"></i>
                                    <span class="bg-danger dots"></span>
                                </a>
                                <div class="iq-sub-dropdown">
                                    <div class="iq-card shadow-none m-0">
                                        <div class="iq-card-body p-0 ">
                                            <div class="bg-primary p-3">
                                                <h5 class="mb-0 text-white">
                                                    Thông báo
                                                    <small class="badge  badge-light float-right pt-1">4</small>
                                                </h5>
                                            </div>
                                            <a href="#" class="iq-sub-card" v-for="(item, index) in notification" :key="index">
                                                <div class="media align-items-center">
                                                    <div class="">
                                                        <img class="avatar-40 rounded" :src="item.image" alt="img">
                                                    </div>
                                                    <div class="media-body ml-3">
                                                        <h6 class="mb-0 ">{{ item.name }}</h6>
                                                        <small class="float-right font-size-12">{{ item.date }}</small>
                                                        <p class="mb-0">{{ item.description.substring(0,40) + '...' }}</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="search-toggle iq-waves-effect">
                                    <i class="ri-mail-open-fill"></i>
                                    <span class="bg-primary count-mail"></span>
                                </a>
                                <div class="iq-sub-dropdown">
                                    <div class="iq-card shadow-none m-0">
                                        <div class="iq-card-body p-0 ">
                                            <div class="bg-primary p-3">
                                                <h5 class="mb-0 text-white">
                                                    Tin nhắn
                                                    <small class="badge  badge-light float-right pt-1">5</small>
                                                </h5>
                                            </div>
                                            <a href="#" class="iq-sub-card" v-for="(item,index) in message" :key="index">
                                                <div class="media align-items-center">
                                                    <div class="">
                                                        <img class="avatar-40 rounded" :src="item.image" alt="img">
                                                    </div>
                                                    <div class="media-body ml-3">
                                                        <h6 class="mb-0 ">{{ item.name }}</h6>
                                                        <small class="float-left font-size-12">{{ item.date }}</small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </template>
                    <template slot="right">
                        <ul class="navbar-list">
                            <li>
                                <a href="#" class="search-toggle iq-waves-effect d-flex align-items-center">
                                    <img :src="user.image" class="img-fluid rounded mr-3" alt="user">
                                    <div class="caption">
                                        <h6 class="mb-0 line-height">{{ user.name }}</h6>
                                        <span class="font-size-12">{{ user.email }}</span>
                                    </div>
                                </a>
                                <div class="iq-sub-dropdown iq-dropdown">
                                    <div class="iq-card shadow-none m-0">
                                        <div class="iq-card-body p-0 ">
                                            <div class="bg-primary p-3">
                                                <h5 class="mb-0 text-white line-height">Hello {{ user.name }}</h5>
                                                <span class="text-white font-size-12">{{ user.email }}</span>
                                            </div>
                                            <a href="#" class="iq-sub-card iq-bg-primary-hover">
                                                <div class="media align-items-center">
                                                    <div class="rounded iq-card-icon iq-bg-primary">
                                                        <i class="ri-user-settings-fill"></i>
                                                    </div>
                                                    <div class="media-body ml-3">
                                                        <h6 class="mb-0 ">Tài khoản</h6>
                                                        <p class="mb-0 font-size-12">Cài đặt thông tin cá nhân</p>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="iq-sub-card iq-bg-primary-success-hover">
                                                <div class="media align-items-center">
                                                    <div class="rounded iq-card-icon iq-bg-success">
                                                        <i class="ri-key-fill"></i>
                                                    </div>
                                                    <div class="media-body ml-3">
                                                        <h6 class="mb-0 ">Mật khẩu</h6>
                                                        <p class="mb-0 font-size-12">Thay đổi mật khẩu</p>
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="d-inline-block w-100 text-center p-3">
                                                <a class="iq-bg-danger iq-sign-btn"
                                                   href="javascript:void(0)"
                                                   @click="logout"
                                                   role="button">
                                                   Đăng xuất<i class="ri-login-box-line ml-2"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </template>
                </NavBarStyle1>
                <!-- TOP Nav Bar END -->
                <transition name="router-anim" :enter-active-class="`animated ${animated.enter}`" mode="out-in"
                            :leave-active-class="`animated ${animated.exit}`">
                    <router-view/>
                </transition>
                <FooterStyle1>
                    <template v-slot:left>
                        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                        <li class="list-inline-item"><a href="#">Terms of Use</a></li>
                    </template>
                    <template v-slot:right>
                        Copyright 2020 <a :href="route('index')">VietnamFB</a> All Rights Reserved.
                    </template>
                </FooterStyle1>
            </div>
        </div>
    </div>
</template>
<script>
import Loader from '../xray/loader/Loader'
import SideBarStyle1 from '../xray/sidebars/SideBarStyle1'
import NavBarStyle1 from '../xray/navbars/NavBarStyle1'
import SideBarItems from '../../config/adminSideBar.json'
import HorizontalItems from '../../config/HorizontalMenu'
import { xray } from '../../config/pluginInit'
import {  mapActions, mapMutations } from 'vuex'


export default {
    components: {
        Loader,
        SideBarStyle1,
        NavBarStyle1
    },
    props: {
        user: {
            type: Object,
            default() {
                return {};
            }
        }
    },
    mounted () {
        xray.index();
        xray.mainIndex();
        this.updateRadio();
        this.setUser(this.user);
    },
    data () {
        return {
            horizontal: false,
            mini: false,
            darkMode: false,
            animated: { enter: 'zoomIn', exit: 'zoomOut' },
            animateClass: [
                { value: { enter: 'zoomIn', exit: 'zoomOut' }, text: 'Zoom' },
                { value: { enter: 'fadeInUp', exit: 'fadeOutDown' }, text: 'Fade' },
                { value: { enter: 'slideInLeft', exit: 'slideOutRight' }, text: 'Slide' },
                { value: { enter: 'rotateInDownLeft', exit: 'rotateOutDownLeft' }, text: 'Roll' }
            ],
            horizontalMenu: HorizontalItems,
            verticalMenu: SideBarItems,
            userProfile: '/images/user/1.jpg',
            logo: '/images/logo.png',
            usersList: [],
            rtl: false,
            message: [
                { image: '/images/user/1.jpg', name: 'Nik Emma Watson', date: '13 jan' },
                { image: '/images/user/1.jpg', name: 'Greta Life', date: '14 Jun' },
                { image: '/images/user/1.jpg', name: 'Barb Ackue', date: '16 Aug' },
            ],
            notification: [
                { image: '/images/user/1.jpg', name: 'Nik Emma Watson', date: '23 hour ago', description: 'Enjoy smart access to videos, games' },
                { image: '/images/user/1.jpg', name: 'Greta Life', date: '14 hour ago', description: 'Google Chromecast: Enjoy a world of entertainment' },
            ]
        }
    },
    methods: {
        ...mapMutations({
            setUser: 'User/setUser'
        }),
        updateRadio () {
            this.horizontal = this.$store.getters['Setting/horizontalMenuState']
            this.mini = this.$store.getters['Setting/miniSidebarState']
        },
        sidebarHorizontal () {
            this.$store.dispatch('Setting/horizontalMenuAction')
            this.updateRadio()
        },
        sidebarMini () {
            xray.triggerSet()
            this.updateRadio()
        },
        rtlChange () {
            if (this.rtl) {
                this.rtlRemove()
            } else {
                this.rtlAdd()
            }
        },
        changeColor (code) {
            document.documentElement.style.setProperty('--iq-primary', code.primary)
            document.documentElement.style.setProperty('--iq-primary-light', code.primaryLight)
            if (this.darkMode) {
                document.documentElement.style.setProperty('--iq-bg-dark-color', code.bodyBgDark)
            } else {
                document.documentElement.style.setProperty('--iq-bg-light-color', code.bodyBgLight)
            }
        },
        reset () {
            this.changeColor({ primary: '#827af3', primaryLight: '#b47af3', bodyBgLight: '#efeefd', bodyBgDark: '#1d203f' })
            this.animated = { enter: 'zoomIn', exit: 'zoomOut' }
            this.light()
        },
        logout () {
            window.location = this.route('auth.admin_logout');
        },
        langChange (lang) {
            this.langChangeState(lang)
            this.$i18n.locale = lang.value
            document.getElementsByClassName('iq-show')[0].classList.remove('iq-show')
            if (lang.value === 'ar') {
                this.rtlAdd(lang)
            } else {
                this.rtlRemove(lang)
            }
        },
        ...mapActions({
            langChangeState: 'Setting/setLangAction',
            rtlAdd: 'Setting/setRtlAction',
            rtlRemove: 'Setting/removeRtlAction'
        })
    }
}
</script>
