<template>
    <div>
        <b-container fluid>
            <b-row>
                <b-col sm="12">
                    <iq-card v-if="data">
                        <template v-slot:headerTitle>
                            <h4 class="card-title">Cập nhật người dùng: {{ data.name }} - {{ data.email }}</h4>
                        </template>
                        <template v-slot:headerAction>
                            <a class="text-primary float-right" v-b-toggle.collapse-1 role="button">
                                <i class="ri-code-s-slash-line" />
                            </a>
                        </template>
                        <template v-slot:body>
                            <b-form>
                                <b-form-group label="Tên" label-for="name">
                                    <b-form-input id="name" type="text" v-model="data.name"></b-form-input>
                                </b-form-group>
                                <b-form-group label="Email" label-for="email">
                                    <b-form-input id="email" type="text" v-model="data.email"></b-form-input>
                                </b-form-group>
                                <b-form-group label="Điện thoại" label-for="phone">
                                    <b-form-input id="phone" type="text" v-model="data.phone"></b-form-input>
                                </b-form-group>
                                <b-form-group label="Số dư" label-for="cash">
                                    <b-form-input id="cash" type="text" disabled v-model="data.cash"></b-form-input>
                                </b-form-group>
                                <b-form-group label="Thuộc đai lý" label-for="agency">
                                    <b-form-input id="agency" type="text" disabled v-model="agencyDomain"></b-form-input>
                                </b-form-group>
                                <b-button
                                    @click="handleSubmit"
                                    type="submit"
                                    variant="primary">Lưu</b-button>
                                <b-button
                                    @click="backToUser"
                                    type="submit"
                                    variant="none"
                                    class="iq-bg-danger ml-3">Hủy</b-button>
                            </b-form>
                        </template>
                    </iq-card>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>
<script>
    export default  {
        data() {
            return {
                data: {},
                agencyDomain: '',
                roles: [],
                mode: '',
            }
        },
        mounted () {
            this.init();
        },
        methods: {
            init() {
                this.initEdit();
            },
            async initEdit() {
                try {
                    const params = {
                        id: this.$route.params.id
                    };
                    const query = this.Helper.buildQueryFromObject(params);
                    const response = await this.Request.get(this.route('admin.users_index') + query);

                    if(!this._.isEmpty(response.data.data[0])) {
                        this.data = response.data.data[0];
                        this.agencyDomain = this.data.agency ? this.data.agency.domain : '';
                    } else {
                        this.$bvToast.toast( this.$t('message.unknown_error'), {
                            title: this.$t('dashboard.error'),
                            autoHideDelay: 3000,
                            toastClass: 'bg-danger',
                            bodyClass: 'bg-danger',
                        });
                        await this.$router.push('/users');
                    }

                } catch (e) {
                    const errorMessages = this.Request.errors(e.response);
                    const message = this._.isEmpty(errorMessages) ? this.$t('message.unknown_error') : errorMessages[0];
                    this.$bvToast.toast(message, {
                        title: this.$t('dashboard.error'),
                        autoHideDelay: 3000,
                        toastClass: 'bg-danger',
                        bodyClass: 'bg-danger',
                    });
                }
            },
            async handleSubmit() {
                try {
                    const uri = this.route('admin.ajax_update_user', { user: this.data.id});
                    await this.Request.patch(uri, this.data)

                    this.$bvToast.toast(this.$t('dashboard.success'), {
                        title: this.$t('dashboard.success'),
                        autoHideDelay: 3000,
                        toastClass: 'bg-primary',
                        bodyClass: 'bg-primary',
                    });
                    this.backToUser();
                } catch (e) {
                    const errorMessages = this.Request.errors(e.response);
                    const message = this._.isEmpty(errorMessages) ? this.$t('message.unknown_error') : errorMessages[0];
                    this.$bvToast.toast(message, {
                        title: this.$t('dashboard.error'),
                        autoHideDelay: 3000,
                        toastClass: 'bg-danger',
                        bodyClass: 'bg-danger',
                    });
                }
            },
            backToUser() {
                this.$router.push('/users');
            },
        }
    }
</script>
