<template>
    <div>

        <form class="mt-4" onsubmit="return false">
            <div class="form-group">
                <label for="email">Email</label>
                <input
                    v-model="form.email"
                    type="email"
                    class="form-control mb-0"
                    id="email"
                    placeholder="Nhập email">
            </div>
            <div class="d-inline-block w-100">
                <button
                    @click="handleSubmitForget"
                    class="btn btn-primary float-right">Lấy lại mật khẩu</button>
            </div>
            <div class="sign-info">
                <span class="dark-color d-inline-block line-height-2">Bạn đã có tài khoản? <a href="#" @click="onAction('login')">Đăng Nhập</a></span>
                <span class="dark-color d-inline-block line-height-2">Bạn chưa có tài khoản? <a href="#" @click="onAction('register')">Đăng ký</a></span>
                <ul class="iq-social-media" v-if="guard === 'user'">
                    <li><a :href="route('auth.sns_login', 'facebook')"><i class="ri-facebook-box-line"></i></a></li>
                    <li><a :href="route('auth.sns_login', 'twitter')"><i class="ri-twitter-line"></i></a></li>
                    <li><a :href="route('auth.sns_login', 'google')"><i class="ri-google-line"></i></a></li>
                </ul>
            </div>
        </form>
    </div>
</template>

<script>
export default {
    props: {
        guard: {
            Type: String,
            default: ''
        },
        token: {
            Type: String,
            default: ''
        },
        redirect: {
            Type: String,
            default: ''
        },
        onSubmit: {
          Type: Function,
          default() {
            return null;
          }
        },
        onAction: {
          Type: Function,
          default() {
            return null;
          }
        }
    },
    data() {
        return {
            form: {
                email: ''
            }
        };
    },
    methods: {
        async handleSubmitForget() {
           this.onSubmit(this.form);
        },
    }
}
</script>
