<template>
  <div>
    <Loader/>
    <section class="sign-in-page">
      <b-container class="sign-in-page-bg mt-5 p-0">
        <div class="row no-gutters">
          <div class="col-md-6 text-center position-relative">
            <div class="sign-in-detail text-white">
              <a class="sign-in-logo mb-5" href="#"><img :src="logo" class="img-fluid" alt="logo"></a>
              <Slick :option="slickOptions">
                <div class="item">
                  <img src="/images/login/1.png" class="img-fluid mb-4" alt="logo">
                  <h4 class="mb-1 text-white">Manage your orders</h4>
                  <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                </div>
                <div class="item">
                  <img src="/images/login/2.png" class="img-fluid mb-4" alt="logo">
                  <h4 class="mb-1 text-white">Manage your orders</h4>
                  <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                </div>
                <div class="item">
                  <img src="/images/login/3.png" class="img-fluid mb-4" alt="logo">
                  <h4 class="mb-1 text-white">Manage your orders</h4>
                  <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                </div>
              </Slick>
            </div>
          </div>
          <div class="col-md-6 position-relative">
            <div class="sign-in-from">
              <h1 class="mb-0">{{ formTitle }}</h1>
              <p>{{ formDescription }}</p>

              <Login :on-submit="handleSubmitLogin" :guard="guard" :on-action="generateForm" v-if="action === 'login'"/>
              <Register :on-submit="handleSubmitRegister" :guard="guard"  :on-action="generateForm" v-if="action === 'register'"/>
              <ForgotPassword :on-submit="handleSubmitForget" :guard="guard"  :on-action="generateForm" v-if="action === 'forget'"/>
              <ResetPassword :on-submit="handleSubmitReset" :guard="guard"  :on-action="generateForm" v-if="action === 'reset'"/>

            </div>
          </div>
        </div>
      </b-container>
    </section>
  </div>
</template>
<script>
import Loader from '../../components/xray/loader/Loader';
import {xray} from '../../config/pluginInit';
import Login from './Login';
import Register from "./Register";
import ForgotPassword from "./ForgotPassword";
import ResetPassword from "./ResetPassword";

export default {
  components: {
    Loader,
    Login,
    Register,
    ForgotPassword,
    ResetPassword
  },
  props: {
    guard: {
      Type: String,
      default: ''
    },
    screen: {
      Type: String,
      default: ''
    },
    token: {
      Type: String,
      default: ''
    },
    redirect: {
      Type: String,
      default: ''
    },
  },
  mounted() {
    xray.index()
  },
  data() {
    return {
      slickOptions: {
        slidesToShow: 1,
        arrows: false,
        dots: true
      },
      logo: '/images/logo-white.png',
      bgImageURL: '/images/login/2.png',
      action: '',
      formTitle: '',
      formDescription: '',
    }
  },
  created() {
    this.generateForm(this.screen);
  },
  methods: {
    generateForm(action) {
      this.action = action;
      switch (this.action) {
        case 'login':
          this.formTitle = 'Đăng nhập';
          this.formDescription = 'Nhập email hoặc tên đăng nhập và mật khẩu để truy cập';
          break;
        case 'register':
          this.formTitle = 'Đăng ký';
          this.formDescription = 'Nhập các thông tin để đăng ký';
          break;
        case 'forget':
          this.formTitle = 'Quên mật khẩu';
          this.formDescription = 'Nhập email hoặc tên đăng nhập để lấy lại mật khẩu';
          break;
        case 'reset':
          this.formTitle = 'Đặt lại mật khẩu';
          this.formDescription = 'Nhập email và mật khẩu mới';
          break;
      }
    },
    async handleSubmitLogin(payload) {
      xray.showLoader();
      try {
        const uri = this.guard === 'admin' ? this.route('auth.admin_login') : this.route('auth.user_login');
        await this.Request.post(uri, payload);

        const message = this.$t('message.login_success');
        this.$bvToast.toast(message, {
          title: this.$t('dashboard.success'),
          autoHideDelay: 3000,
          toastClass: 'bg-primary',
          bodyClass: 'bg-primary',
        });

        let redirectUri = this.guard === 'admin' ? this.route('admin.index') : this.route('index');
        if (!this._.isEmpty(this.redirect)) {
          redirectUri = this.redirect;
        }

        setTimeout(function () {
          window.location = redirectUri;
        }, 1000)
      } catch (e) {
        const errorMessages = this.Request.errors(e.response);
        const message = this._.isEmpty(errorMessages) ? this.$t('message.unknown_error') : errorMessages[0];
        this.$bvToast.toast(message, {
          title: this.$t('dashboard.error'),
          autoHideDelay: 3000,
          toastClass: 'bg-danger',
          bodyClass: 'bg-danger',
        });
      }
      xray.hideLoader();
    },
    async handleSubmitRegister(payload) {
      xray.showLoader();
      try {
        const uri = this.route('auth.register_user');
        await this.Request.post(uri, payload);
        const message = this.$t('message.register_success');
        this.$bvToast.toast(message, {
          title: this.$t('dashboard.success'),
          autoHideDelay: 3000,
          toastClass: 'bg-primary',
          bodyClass: 'bg-primary',
        });

        let redirectUri = this.guard === 'admin' ? this.route('admin.index') : this.route('index');
        if (!this._.isEmpty(this.redirect)) {
          redirectUri = this.redirect;
        }

        setTimeout(function () {
          window.location = redirectUri;
        }, 1000);

      } catch (e) {
        const errorMessages = this.Request.errors(e.response);
        const message = this._.isEmpty(errorMessages) ? this.$t('message.unknown_error') : errorMessages[0];
        this.$bvToast.toast(message, {
          title: this.$t('dashboard.error'),
          autoHideDelay: 3000,
          toastClass: 'bg-danger',
          bodyClass: 'bg-danger',
        });
      }
      xray.hideLoader();
    },
    async handleSubmitForget(payload) {
      xray.showLoader();
      try {
        const uri = this.guard === 'admin' ? this.route('auth.create_admin_reset_password_token') : this.route('auth.create_user_reset_password_token');
        await this.Request.post(uri, payload);

        const message = this.$t('message.create_reset_password_success');

        this.$bvToast.toast(message, {
          title: this.$t('dashboard.success'),
          autoHideDelay: 3000,
          toastClass: 'bg-primary',
          bodyClass: 'bg-primary',
        });

        setTimeout(function () {
         this.generateForm('login');
        }, 1000);

      } catch (e) {
        const errorMessages = this.Request.errors(e.response);
        const message = this._.isEmpty(errorMessages) ? this.$t('message.unknown_error') : errorMessages[0];
        this.$bvToast.toast(message, {
          title: this.$t('dashboard.error'),
          autoHideDelay: 3000,
          toastClass: 'bg-danger',
          bodyClass: 'bg-danger',
        });
      }
      xray.hideLoader();
    },

    async handleSubmitReset(payload) {
      xray.showLoader();
      try {
        const uri = this.guard === 'admin'
            ? this.route('auth.reset_admin_password', {token: this.token})
            : this.route('auth.reset_user_password', {token: this.token});

        await this.Request.post(uri, payload);

        const message = this.$t('message.change_password_success');

        this.$bvToast.toast(message, {
          title: this.$t('dashboard.success'),
          autoHideDelay: 3000,
          toastClass: 'bg-primary',
          bodyClass: 'bg-primary',
        });

        setTimeout(function () {
          this.generateForm('login');
        }, 1000);

      } catch (e) {
        const errorMessages = this.Request.errors(e.response);
        const message = this._.isEmpty(errorMessages) ? this.$t('message.unknown_error') : errorMessages[0];
        this.$bvToast.toast(message, {
          title: this.$t('dashboard.error'),
          autoHideDelay: 3000,
          toastClass: 'bg-danger',
          bodyClass: 'bg-danger',
        });
      }
      xray.hideLoader();
    }

  }
}
</script>
