<template>
    <div>

        <form class="mt-4" onsubmit="return false">
            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input
                    v-model="form.email"
                    type="email"
                    class="form-control mb-0"
                    id="exampleInputEmail1"
                    placeholder="Nhập email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Mật khẩu</label>
                <a href="#"  @click="onAction('forget')" class="float-right">Quên mật khẩu</a>
                <input
                    v-model="form.password"
                    type="password"
                    class="form-control mb-0"
                    id="exampleInputPassword1"
                    placeholder="Nhập mật khẩu">
            </div>
            <div class="d-inline-block w-100">
                <div class="custom-control custom-checkbox d-inline-block mt-2 pt-1">
                    <input
                        v-model="form.remember"
                        type="checkbox"
                        class="custom-control-input"
                        id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">Ghi nhớ đăng nhập</label>
                </div>
                <button
                    @click="handleSubmitLogin"
                    class="btn btn-primary float-right">Đăng nhập</button>
            </div>
            <div class="sign-info">
                <span class="dark-color d-inline-block line-height-2">Bạn chưa có tài khoản? <a href="#" @click="onAction('register')">Đăng ký</a></span>
                <ul class="iq-social-media" v-if="guard === 'user'">
                    <li><a :href="route('auth.sns_login', 'facebook')"><i class="ri-facebook-box-line"></i></a></li>
                    <li><a :href="route('auth.sns_login', 'twitter')"><i class="ri-twitter-line"></i></a></li>
                    <li><a :href="route('auth.sns_login', 'google')"><i class="ri-google-line"></i></a></li>
                </ul>
            </div>
        </form>
    </div>
</template>

<script>
export default {
    props: {
        guard: {
            Type: String,
            default: ''
        },
        token: {
            Type: String,
            default: ''
        },
        redirect: {
            Type: String,
            default: ''
        },
        onSubmit: {
          Type: Function,
          default() {
            return null;
          }
        },
        onAction: {
          Type: Function,
          default() {
            return null;
          }
        }
    },
    data() {
        return {
            form: {
                email: '',
                password: ''
            }
        };
    },
    methods: {
        async handleSubmitLogin() {
           this.onSubmit(this.form);
        },
    }
}
</script>
