<template>
    <div>

        <form class="mt-4" onsubmit="return false">
          <div class="form-group">
            <label for="password">Mật khẩu</label>
            <input
                v-model="form.password"
                type="password"
                class="form-control mb-0"
                id="password"
                placeholder="Nhập mật khẩu">
          </div>

          <div class="form-group">
            <label for="password_confirm">Xác nhận mật khẩu</label>
            <input
                v-model="form.password_confirm"
                type="password"
                class="form-control mb-0"
                id="password_confirm"
                placeholder="Nhập lại mật khẩu">
          </div>
            <div class="d-inline-block w-100">
                <button
                    @click="handleSubmitReset"
                    class="btn btn-primary float-right">Đặt lại mật khẩu</button>
            </div>
            <div class="sign-info">
                <span class="dark-color d-inline-block line-height-2">Bạn đã có tài khoản? <a href="#" @click="onAction('login')">Đăng nhập</a></span>
                <ul class="iq-social-media" v-if="guard === 'user'">
                    <li><a :href="route('auth.sns_login', 'facebook')"><i class="ri-facebook-box-line"></i></a></li>
                    <li><a :href="route('auth.sns_login', 'twitter')"><i class="ri-twitter-line"></i></a></li>
                    <li><a :href="route('auth.sns_login', 'google')"><i class="ri-google-line"></i></a></li>
                </ul>
            </div>
        </form>
    </div>
</template>

<script>
export default {
    props: {
        guard: {
            Type: String,
            default: ''
        },
        token: {
            Type: String,
            default: ''
        },
        redirect: {
            Type: String,
            default: ''
        },
        onSubmit: {
          Type: Function,
          default() {
            return null;
          }
        },
        onAction: {
          Type: Function,
          default() {
            return null;
          }
        }
    },
    data() {
        return {
            form: {
                email: '',
                password: ''
            }
        };
    },
    methods: {
        async handleSubmitReset() {
           this.onSubmit(this.form);
        },
    }
}
</script>
