<template>
    <div id="notify">
        <div v-for="(item, index) in notifications"
             :key="index"
             class="toast fade show bg-primary text-white border-0"
             role="alert" aria-live="assertive"
             aria-atomic="true">
            <div class="toast-header bg-primary text-white">
                <svg class="bd-placeholder-img rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                    <rect width="100%" height="100%" fill="#fff"></rect>
                </svg>
                <strong class="mr-auto text-white">{{ item.title }}</strong>
                <button
                    @click="removeNotification(item)"
                    type="button"
                    class="ml-2 mb-1 close text-white"
                    data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="toast-body">
                {{ item.message }}
            </div>
        </div>
    </div>

</template>
<script>
import { mapGetters, mapMutations } from 'vuex'

export default {
    computed: {
        ...mapGetters({
            notifications: 'Notification/getNotifications',
        })
    },
    data() {
        return {
            lastNotification: {},
        }
    },
    watch: {
        notifications(payload) {
            if(payload.length > 0) {
                this.lastNotification = payload[payload.length - 1];
                setTimeout(this.scheduleRemove, 3000);
                this.notificationData = payload;
            }
        }
    },
    methods: {
        ...mapMutations({
            removeNotification: 'Notification/removeNotification'
        }),
        scheduleRemove() {
            this.removeNotification(this.lastNotification);
        }
    }

}
</script>
