<template>
    <!-- loader Start -->
    <div id="loading" :style="style">
        <div id="loading-center">
        </div>
    </div>
    <!-- loader END -->
</template>
<script>
export default {
    name: 'Loader',
    props: {
        dark: {
            type: Boolean,
            default: false
        }
    },
    mounted() {
        if (this.dark) {
            this.style = `background: #1d203f url(${this.darkLogo}) no-repeat scroll center center 10%;`
        } else {
            this.style = `background: #fff url(${this.logo}) no-repeat scroll center center 10%;`
        }
    },
    data() {
        return {
            logo: '/images/loader.gif',
            darkLogo: 'images/darkMode/dark-loader.gif',
            style: `background: #fff url('/images/loader.gif') no-repeat scroll center center 10%;`
        }
    }
}
</script>
